# Environment Variables
GEMINI_API_KEY=
VITE_SUPABASE_URL=https://beggptypgncpsvtyuyqh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJlZ2dwdHlwZ25jcHN2dHl1eXFoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk5OTM5MDYsImV4cCI6MjEwNTU2OTkwNn0.Qvj7tyKeSRZ9rqiekfvu8HzflxOQl6vlpABlY_S1OJ8